@using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sira = 1;
}

<<div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Servis Listesi</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        

                        <a href="/Service/Add" class="btn btn-success btn-sm"><i class="fas fa-plus"></i>Ekle</a>
                    </div>
                </div>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Servis Adı</th>
                            <th>Açıklama</th>
                            <th>Icon</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@sira</td>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td><a class="@item.Icon"></a>- @item.Icon</td>
                                <td><a class="btn btn-danger btn-sm" href="/Service/Delete/@item.ServiceID"><i class="fas fa-trash"></i>Sil</a></td>
                                <td><a class="btn btn-warning btn-sm" href="/Service/Edit/@item.ServiceID"><i class="fas fa-cog"></i>Düzenle</a></td>
                                
                            </tr>
                            sira++;
                        }


                    </tbody>
                </table>
            </div>
            
        </div>
      
    </div>

